/***  内嵌小程序布局样式  ***/
@import '../base/lib-mixin.scss';
#yzfWeapp {
  &.innerWeapp-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 42px;
    padding-right: 99px;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    // 隐藏滚动条
    @include clearScrollbar();
    box-sizing: border-box;
  }
  // 页面结构布局
  .pagex-wrap {
    display: flex;
    flex-direction: column;
    width: 375px;
    flex-shrink: 0;
    min-height: 100%;
    background: #f5f6fa;
    box-sizing: content-box;
    box-shadow: 0 0 10px 0 rgba(31, 43, 77, 0.2);
  }
  .pagex-main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .pagex-main__content {
      flex: 1;
    }
  }
  .pagex-fixbottom__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 375px;
    z-index: 100;
    background-color: #fff; // 默认添加底部悬浮区域的背景颜色为白色，以后需要其它颜色则扩展行内样式
  }
  .pagex-fixtop {
    width: 375px;
    height: 64px;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .pagex-fixtop__content {
    position: absolute;
    top: 0;
    width: 375px;
    z-index: 100;
  }
  .pagex-fixbottom--flow {
    text-align: center;
  }
  .pagex-safearea .pagex-safearea__bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    box-sizing: border-box;
  }
  .pagex-safearea .pagex-main {
    padding-bottom: 0 !important;
  }
  .pagex-dialog {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &.pagex-dialog--top {
      top: 0;
      left: 0;
      right: 0;
    }
    &.pagex-dialog--center {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &.pagex-dialog--bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }
    &.pagex-dialog--safearea {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      box-sizing: border-box;
    }
  }
}
