// 右侧tab签模块

.top-menu {
  border-bottom: 1px solid #e5e5e6;
  font-size: 0;
  display: flex;
  position: relative;
  white-space: nowrap;

  span {
    color: #999;
    position: relative;
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    &:first-child {
      border-left: 1px solid #fff;
    }
  }
  .top-menu__item {
    display: flex;
    align-items: center;
    .refresh-btn {
      display: none;
      color: #999999;
      font-size: 18px;
      margin-left: 6px;
      font-weight: normal;
    }
    &.current {
      color: #333;
      font-weight: bold;
      border-left: 1px solid #e5e5e6;
      border-right: 1px solid #e5e5e6;
      .top-menu__value {
        color: inherit;
      }
      .refresh-btn {
        display: inline-block;
      }
      &:hover {
        color: #333;
        .top-menu__value {
          color: inherit;
        }
      }
    }
    &:first-child {
      // border-left: 1px solid #fff;
      border-left: unset;
    }
    &:hover {
      color: #265cf0;
      .top-menu__value {
        color: inherit;
      }
      .refresh-btn {
        color: #666;
      }
    }
  }
  .top-menu__value {
    position: relative;
    padding: 0px;
    .dot {
      position: absolute;
      right: 0px;
      top: 0px;
      transform: translateX(50%) translateY(-50%);
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      padding: 0px 4px;
      box-sizing: border-box;
      background: #ed4343;
      border-radius: 8px;
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      z-index: 1;
    }
  }

  .current {
    color: #333;
    border-left: 1px solid #e5e5e6;
    border-right: 1px solid #e5e5e6;

    &:after {
      content: ' ';
      height: 1px;
      width: 100%;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
  .si-search {
    position: absolute;
    right: 0;
    top: 0px;
    right: 0px;
    font-size: 0;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    background: #fafafb;
    // &:before {
    //     content: "";
    //     position: absolute;
    //     left: -10px;
    //     top: 0;
    //     width: 10px;
    //     height: 100%;
    //     transform: scaleX(-1);
    //     background-image: linear-gradient(270deg, rgba(250,250,251,0.00) 0%, rgba(0,0,0,0.10) 100%);
    // }
    a {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 20px;
      &:hover {
        .icon-270 {
          color: #0e4fde;
        }
        .txt {
          color: #0e4fde;
        }
      }
    }
    .si-search--btn {
    }
    .icon-270 {
      color: #265bed;
      font-size: 20px;
      margin-right: 8px;
      display: inline-block;
      line-height: 1;
    }
    .txt {
      padding: 0px;
      font-size: 14px;
      color: #265bed;
      display: inline-block;
      vertical-align: top;
    }
  }
  .reset-layout--btn {
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    &:not(:first-child):after {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      border-left: 1px solid #e5e5e6;
      transform-origin: left center;
    }
    &:hover {
      color: #666;
    }
  }
  .reset-layout--select {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: #999999;
    &:hover {
      color: #666;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid #e5e5e6;
      transform-origin: left center;
    }
    .reset-layout--selectBtn {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      min-width: 100px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      .iconfont {
        margin-left: 6px;
      }
    }
    .kf-ai-select {
      display: flex;
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
  &.-height40 {
    .top-menu__item {
      padding: 10px 20px;
    }
  }
}

.user-area {
  .top-menu {
    .current {
      &:after {
        background: #fafafb;
      }
    }
  }
}

.blue {
  color: #265bed;
}

.red {
  color: #b31010; //关键字用红色标出
}

.user-info {
  box-sizing: border-box;

  &.pop-w {
    .title {
      padding: 20px 20px 10px 20px;
    }

    .item-group {
      .item {
        margin-bottom: 0;
      }
    }
  }

  &.side-r-box {
    .title {
      padding: 20px 20px 10px 20px;
    }

    .item-group {
      min-width: auto;

      .item {
        // width: 100%;
        margin-bottom: 0;

        .value {
          box-sizing: border-box;
          white-space: pre-wrap;
        }
      }
    }

    .kf-ai-cascader .kf-ai-select-dropdown {
      right: 0;

      .kf-ai-cascader-menu {
        min-width: 142px;
      }
    }

    .user-question {
      min-width: auto;
    }
  }

  // .title {
  //     color: #333;
  //     padding: 20px;
  //     font-size: 14px;
  //     font-weight: 600;
  // }

  @at-root .suspend {
    display: none;
    position: absolute;
    padding: 10px 20px;
    z-index: 1;
    color: #333;
    font-size: 12px;
    background: #fff;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    z-index: 999;
    word-break: keep-all;
    top: 58px;

    &:before {
      content: ' ';
      width: 0;
      height: 0;
      top: -12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid transparent;
      border-bottom: 6px solid #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.bottom::before {
      top: auto;
      bottom: -12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #fff;
      border-bottom: 6px solid transparent;
    }
    // 箭头位于左上角
    &.-arrow-left-top {
      &::before {
        left: 10px;
        transform: unset;
      }
    }
    // 箭头位于右上角
    &.-arrow-right-top {
      right: 10px;
      &::before {
        left: unset;
        right: 10px;
        transform: unset;
      }
    }
    // 箭头位于左下角
    &.-arrow-left-bottom {
      top: unset;
      bottom: 38px;
      &::before {
        left: 10px;
        top: auto;
        bottom: -12px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
        border-bottom: 6px solid transparent;
        transform: unset;
      }
    }
    // 箭头位于右下角
    &.-arrow-right-bottom {
      right: 10px;
      top: unset;
      bottom: 38px;
      &::before {
        left: unset;
        right: 10px;
        top: auto;
        bottom: -12px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
        border-bottom: 6px solid transparent;
        transform: unset;
      }
    }
    // 多行提示消息
    &.-multi-line {
      max-width: 240px;
      min-width: 54px;
      padding: 10px;
      word-break: break-all;
      white-space: normal;
      text-align: left;
    }
    // 超出三行显示省略号
    &.-line3 .suspend-txt {
      @include ellipsis-lines($lines: 3);
    }
  }

  .title-new {
    color: #333;
    padding: 20px;
    font-size: 0;
    height: 59px;
    position: relative;
    box-sizing: border-box;

    .title-left,
    .title-right {
      font-size: 14px;
    }

    .title-left {
      margin-right: 38px;
      font-weight: bold;
      position: absolute;
    }
    .title-new-info {
      position: absolute;
      left: 96px;
      display: flex;
      align-items: center;
      .info {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #265cf0;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
      .iconfont {
        font-size: 18px;
        color: #265cf0;
        margin-right: 4px;
      }
    }

    .title-right {
      width: 100%;
      vertical-align: top;
      padding-right: 121px;
      padding-left: 94px;
      box-sizing: border-box;
      overflow: hidden;
      max-width: 487px;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      word-wrap: normal;
      min-height: 20px;
      cursor: pointer;
      &:hover {
        color: #275cf0;

        .suspend {
          display: inline-block;
        }
      }
    }

    .marked {
      width: auto;
      right: 20px;
      top: 20px;
      color: #275cf0;
      position: absolute;

      .iconfont {
        top: 1px;
        position: relative;
        margin-right: 7px;
      }

      .hollow,
      .solid {
        display: block;
        cursor: pointer;

        span {
          font-size: 14px;
        }
      }
      &.-disabled {
        color: #ccc;
        .title-words {
          display: none;
        }
        &:hover {
          .title-words {
            display: block;
          }
        }
      }
    }

    .suspend {
      left: 190px;
      bottom: -26px;
      max-width: 420px;

      &:before {
        display: none;
      }

      &:after {
        content: ' ';
        width: 0;
        height: 0;
        left: 50%;
        margin-left: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
      }
    }

    .copy-up {
      .suspend {
        top: -26px;
        height: 36px;

        &:before {
          display: none;
        }

        &:after {
          bottom: -12px;
          border-bottom: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }
    }

    .copy-down {
      .suspend {
        bottom: -26px;
        height: 36px;

        &:before {
          display: none;
        }

        &:after {
          top: -12px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid #fff;
        }
      }
    }
  }

  //人工会话 客户信息部分的有效客户标记
  .client-info {
    .title-new {
      .title-words {
        width: 240px;
        position: absolute;
        top: 2px;
        right: -230px;
        color: #333333;
        font-size: 14px;
        line-height: 1.5;
        z-index: 999999;
        box-sizing: border-box;
        background: #ffffff;
        padding: 10px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
        .makesure {
          color: #265cf0;
          text-align: right;
          display: block;
          cursor: pointer;
          margin-top: 10px;
        }
        .arrow-l {
          position: absolute;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          left: -5px;
          border-width: 5px 5px 5px 0;
          border-right-color: #ffffff;
          top: 8px;
        }
        &.right {
          right: auto;
          left: -250px;
          top: -2px;
          .arrow-l {
            left: auto;
            right: -5px;
            border-width: 5px 0px 5px 5px;
            border-color: transparent;
            border-left-color: #ffffff;
          }
        }
      }
    }
  }

  .user-question {
    min-height: 400px;
    @include clearfix;

    .kf-ai-input-wrapper {
      background: #fff;
    }
  }

  .user-list {
    .kf-ai-cascader {
      .kf-ai-input {
        border: 1px solid #e5e5e5;
        padding-left: 10px;

        &:focus {
          border-color: #265bed;
        }
      }
    }
  }

  .status {
    height: 80px;
    background: #fff;
    z-index: 901;
    min-width: 450px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e5e5e6;

    .left {
      color: #000;
      width: 182px;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 32px;
        height: 32px;
        margin: 24px 20px;
      }

      span {
        top: 30px;
        position: absolute;
      }
    }

    .center {
      font-size: 14px;
      color: #999;
      position: absolute;
      left: 184px;
      top: 30px;

      .times {
        margin-left: 14px;
        margin-right: 6px;
      }
    }

    .right {
      top: 20px;
      right: 20px;
      position: absolute;

      button {
        height: 40px;
      }
    }
  }

  // .kf-ai-input {
  //     // border-color: #fafafb;
  //     border-color: transparent;
  //     border-width: 1px;
  //     background: none;
  //     padding-left: 0;
  //     transition: all 0.2s ease-in-out;

  //     &:hover {
  //         // border-color: #ccc;
  //         border: 1px solid #265bed;
  //         padding-left: 10px;
  //         background: #fff;
  //     }

  //     &:focus {
  //         border: 1px solid #265bed;
  //         padding-left: 10px;
  //         background: #fff;
  //     }
  //     &.kf-ai-input-textarea {
  //         // resize: none;
  //         resize: vertical;
  //         width: 100%;
  //         min-height: 100px;
  //     }
  // }
  // // 用户信息 中的 select下拉组件，添加ui交互动效
  // .kf-ai-select .kf-ai-select-selection {
  //     border-color: #fafafb;
  //     border-width: 1px;
  //     background: none;
  //     transition: all 0.2s ease-in-out;
  //     .kf-ai-select-placeholder,
  //     .kf-ai-select-value {
  //         padding-left: 0;
  //         transition: all 0.2s ease-in-out;
  //     }
  //     .kf-ai-icon-arrow {
  //         display: none;
  //     }
  //     &:hover,
  //     &:focus {
  //         border: 1px solid #265bed;
  //         .kf-ai-select-placeholder,
  //         .kf-ai-select-value {
  //             padding-left: 10px;
  //             background: #fff;
  //         }
  //         .kf-ai-icon-arrow {
  //             display: block;
  //         }
  //     }
  // }
  // // 用户信息 中的 Cascader 级联选择 组件，添加ui交互动效
  // .kf-ai-cascader .kf-ai-cascader-rel {
  //     .kf-ai-input-wrapper {
  //         background: none;
  //         .kf-ai-input {
  //             border-color: #fafafb;
  //             border-width: 1px;
  //             padding-left: 0px;
  //         }
  //     }
  //     .kf-ai-icon-arrow {
  //         display: none;
  //     }
  //     &:hover,
  //     &:focus {
  //         .kf-ai-input-wrapper {
  //             background: #fff;
  //             .kf-ai-input {
  //                 border: 1px solid #265bed;
  //                 padding-left: 10px;
  //             }
  //         }
  //         .kf-ai-icon-arrow {
  //             display: block;
  //         }
  //     }
  // }
}

// 可选的快捷备注
.optional-quick-note-value {
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px !important;

  .list-item {
    position: relative;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    background: #ffffff;
    border: 1px solid #e5e5e6;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    &.current {
      border: 1px solid #265bed;
      color: #265cf0;
    }
  }
}

.service-history {
  box-sizing: border-box;

  .filter {
    width: 100%;
    font-size: 0;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #e5e5e6;
    padding: 0;
    padding-right: 20px;
    padding-bottom: 20px;

    .item {
      width: 50%;
      // height: 40px;
      margin-top: 20px;
      margin-bottom: 10px;
      display: inline-block;
      position: relative;

      .label {
        color: #666;
        font-size: 14px;
        line-height: 20px;
        margin: 0px 10px 0px 20px;
        @include text-overflow();
      }

      .value {
        margin: 10px 10px 10px 20px;
        // padding-left: 58px;
        &.kf-input-wrapper {
          margin: 0px 10px 0px 20px;
        }

        .kf-ai-select {
          position: relative;

          .kf-ai-select-dropdown {
            padding: 0;
            margin: 4px 0;
            width: 100% !important;

            .kf-ai-select-item {
              padding: 10px 16px;
            }

            .current {
              background: #ebedf3;
            }
          }
        }
      }
    }
  }

  .service-list {
    .para {
      position: relative;

      &:not(:last-child):before {
        content: ' ';
        border-top: 1px solid #e5e5e6;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
      }

      .title {
        color: #333;
        padding: 20px 20px 10px 20px;
        font-size: 14px;
        position: relative;

        .title-words {
          font-size: 0;
          display: inline-block;
          padding-right: 50px;
          @include ellipsis-lines($lines: 1);

          .iconfont {
            top: 1px;
            position: relative;
            margin-right: 6px;
          }

          span {
            font-weight: bold;
            font-size: 14px;
          }
        }

        .more {
          right: 18px;
          top: 20px;
          color: #265bed;
          position: absolute;
          cursor: pointer;

          .iconfont {
            font-size: 14px;
            margin-left: 4px;
          }
        }
      }

      .item-group {
        width: 100%;
        font-size: 0;
        padding-bottom: 20px;
        padding-right: 20px;
        box-sizing: border-box;

        .item {
          width: 50%;
          margin-bottom: 10px;
          display: inline-block;
          position: relative;

          .label {
            color: #666;
            font-size: 14px;
            line-height: 20px;
            margin: 0px 10px 0px 20px;
            @include text-overflow();
          }

          .value {
            color: #000;
            font-size: 14px;
            min-height: 20px;
            margin: 10px 10px 10px 20px;
            @include text-overflow();
          }

          .label-drop {
            overflow: visible;
            color: #000;
            font-size: 14px;
            min-height: 20px;
            margin: 10px 10px 10px 20px;
          }
          .kf-input-wrapper {
            margin: 0px 0px 0px 20px;
            width: auto;
          }
        }
      }
    }

    // 服务记录 中的 输入框组件，添加ui交互动效
    .kf-ai-input {
      border-color: #fafafb;
      border-width: 1px;
      background: none;
      padding-left: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        // border-color: #ccc;
        border: 1px solid #265bed;
        padding-left: 10px;
        background: #fff;
      }

      &:focus {
        border: 1px solid #265bed;
        padding-left: 10px;
        background: #fff;
      }
      &.kf-ai-input-textarea {
        resize: none;
        width: 100%;
        min-height: 100px;
      }
    }
    // 服务记录 中的 select下拉组件，添加ui交互动效
    .kf-ai-select .kf-ai-select-selection {
      border-color: #fafafb;
      border-width: 1px;
      background: none;
      transition: all 0.2s ease-in-out;
      .kf-ai-select-placeholder,
      .kf-ai-select-value {
        padding-left: 0;
        transition: all 0.2s ease-in-out;
      }
      .kf-ai-icon-arrow {
        display: none;
      }
      &:hover,
      &:focus {
        border: 1px solid #265bed;
        .kf-ai-select-placeholder,
        .kf-ai-select-value {
          padding-left: 10px;
          background: #fff;
        }
        .kf-ai-icon-arrow {
          display: block;
        }
      }
    }
    // 服务记录 中的 Cascader 级联选择 组件，添加ui交互动效
    .kf-ai-cascader .kf-ai-cascader-rel {
      .kf-ai-input-wrapper {
        background: none;
        .kf-ai-input {
          border-color: #fafafb;
          border-width: 1px;
          padding-left: 0px;
        }
      }
      .kf-ai-icon-arrow {
        display: none;
      }
      &:hover,
      &:focus {
        .kf-ai-input-wrapper {
          background: #fff;
          .kf-ai-input {
            border: 1px solid #265bed;
            padding-left: 10px;
          }
        }
        .kf-ai-icon-arrow {
          display: block;
        }
      }
    }
  }
}

.quick-reply {
  .search {
    .tab-menu {
      font-size: 0;
      padding-top: 20px;
      margin-left: 20px;
      padding-bottom: 14px;
      padding-left: 10px;

      a {
        font-size: 14px;
        margin-right: 40px;
        opacity: 0.5;
        color: #333333;
        cursor: pointer;
      }

      .choose {
        opacity: 1;
      }
    }

    .search-manage {
      margin-left: 20px;
      padding-bottom: 20px;
      position: relative;

      .search-input {
        margin-right: 20px;
        position: relative;

        input {
          background: #fafafb;

          &:focus {
            background: #fff;
          }
        }

        input::-webkit-input-placeholder {
          color: #ccc;
        }

        .kf-ai-form-item {
          margin-bottom: 0;
        }

        .icon-31 {
          color: #999;
        }

        .icon-close-fill {
          display: none;
        }
      }

      .search-edit {
        display: none;
      }

      .finish {
        display: none;
      }
    }
  }

  .grouping {
    width: 100%;
    position: absolute;

    .top-title {
      height: 40px;
      color: #666;
      font-size: 14px;
      line-height: 40px;
      padding-left: 20px;
      background: #fafafb;
      border-top: 1px solid #e5e5e6;
      border-bottom: 1px solid #e5e5e6;
      box-sizing: border-box;
      position: relative;

      .icon-48 {
        right: 10px;
        color: #265cf0;
        font-size: 20px;
        position: absolute;
      }
    }

    .grouping-list {
      width: 40%;
      padding-bottom: 80px;

      .list-menu {
        .list-item {
          height: 44px;
          padding: 0 20px;
          font-size: 14px;
          line-height: 44px;
          position: relative;
          cursor: pointer;

          .title-words {
            top: 44px;
            left: 50%;
            position: absolute;
          }

          .list-input {
            display: none;
          }

          .item-name {
            @include ellipsis-lines($lines: 1);
            padding-right: 20px;
          }

          .count {
            color: #999;
            font-size: 12px;
            position: absolute;
            right: 20px;
            top: 0;
            z-index: 999999;
          }

          .options {
            display: none;
          }
        }

        .list-item:hover {
          background: #ccdaff;

          .count {
            display: none;
          }

          .options {
            color: #666;
            font-size: 0;
            position: absolute;
            right: 10px;
            top: 0;
            display: inline-block;
            right: 0;
            bottom: 0px;
            display: inline-block;
            padding: 6px 10px 6px 5px;
            background: #ccdaff;
            z-index: 99;

            &::after {
              content: '';
              display: inline-block;
              position: absolute;
              width: 50px;
              height: 44px;
              top: 0;
              z-index: -1;
              left: -50px;
              background: linear-gradient(to right, rgba(204, 218, 255, 0) 0%, rgba(204, 218, 255, 1) 100%);
            }

            .iconfont {
              margin-left: 5px;
              margin-top: -6px;
              vertical-align: top;
              cursor: pointer;
              display: inline-block;
              color: #265bed;
              font-size: 18px;
            }
          }
        }

        .turn-input {
          background: #f2f3f7 !important;

          input {
            width: 100%;
          }

          input::-webkit-input-placeholder {
            color: #ccc;
          }

          .item-name {
            display: none;
          }

          .count {
            display: none;
          }

          .list-input {
            display: inline-block;
            outline: none;
            border: 1px solid transparent;
            background: transparent;
          }

          &:hover .options {
            display: none;
          }
        }
      }

      .list-menu .list-item.current {
        background: #ebedf3;
        &:hover {
          .options {
            background: #ebedf3;
            &::after {
              background: linear-gradient(to right, rgba(235, 237, 243, 0) 0%, rgba(235, 237, 243, 1) 100%);
            }
          }
        }
      }
    }

    .grouping-content {
      width: 60%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: calc(100vh - (114px + 49px));
      border-left: 1px solid #e5e5e6;

      .add {
        cursor: pointer;
      }

      .title-words {
        top: 34px;
        // height: 78px; // 适配英文版显示，去除高度限制
        left: 120px;
        position: absolute;

        .makesure {
          color: #357ae0;
          text-align: right;
          display: block;
          cursor: pointer;
        }
      }

      .options {
        display: none;
      }

      .content-item:hover {
        background: #ccdaff;
        position: relative;

        .options {
          right: 0;
          font-size: 0;
          bottom: 0px;
          display: inline-block;
          position: absolute;
          bottom: 9px;
          padding: 4px 10px 0px 3px;
          background: #ccdaff;
          // background: linear-gradient(to right, transparent, yellow);
          // background: -webkit-linear-gradient(left, transparent 0%, yellow 100%);

          .iconfont {
            margin-left: 6px;
            margin-top: 0;
            vertical-align: top;
            cursor: pointer;
            display: inline-block;
            color: #265bed;
            font-size: 20px;
            line-height: 1;
          }

          &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 28px;
            left: -50px;
            background: linear-gradient(to right, rgba(204, 218, 255, 0) 0%, rgba(204, 218, 255, 1) 100%);
          }
        }

        /* 首行去掉  置顶icon 和 向上移动icon */
        &:first-child:hover {
          .options {
            .icon-35,
            .icon-84 {
              display: none;
            }
          }
        }

        /* 末行去掉  向下移动icon */
        &:last-child:hover {
          .options {
            .icon-85 {
              display: none;
            }
          }
        }
      }

      .content-item {
        padding: 11px 20px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        &.current {
          background: #ebedf3;
          &:hover {
            .options {
              background: #ebedf3;
              &::before {
                background: linear-gradient(to right, rgba(235, 237, 243, 0) 0%, rgba(235, 237, 243, 1) 100%);
              }
            }
          }
        }

        .paragraph {
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 0;
          .item-kjj {
            display: inline-block;
            width: 23px;
            height: 20px;
            border: 1px solid #9ba2b1;
            box-sizing: border-box;
            border-radius: 2px;
            font-size: 12px;
            color: #9ba2b1;
            vertical-align: top;
            text-align: center;
            line-height: 18px;
            margin-top: 2px;
            margin-right: 6px;
            transform: scale(0.83);
          }
          .item-title {
            font-weight: bold;
            font-size: 14px;
            color: #333;
            margin-right: 14px;
          }

          .item-content {
            font-size: 14px;
            color: #999;
            line-height: 22px;
          }
        }
      }
    }

    .title-words {
      width: 240px;
      font-size: 14px;
      line-height: 1.5;
      z-index: 999999;
      box-sizing: border-box;
      background: #ffffff;
      padding: 10px 20px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    }
  }

  .just-content {
    .grouping-list {
      display: none;
    }

    .grouping-content {
      width: 100%;
    }
  }

  .status {
    height: 80px;
    background: #fff;
    z-index: 901;
    min-width: 450px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e5e5e6;

    .left {
      color: #000;
      width: 182px;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 32px;
        height: 32px;
        margin: 24px 20px;
      }

      span {
        top: 30px;
        position: absolute;
      }
    }

    .center {
      font-size: 14px;
      color: #999;
      position: absolute;
      left: 184px;
      top: 30px;

      .times {
        margin-left: 14px;
        margin-right: 6px;
      }
    }

    .right {
      top: 20px;
      right: 20px;
      position: absolute;

      button {
        height: 40px;
      }
    }
  }

  .nothing-page {
    text-align: center;
    padding: 200px 0;

    img {
      display: inline-block;
      width: 125px;
      height: 117px;
    }

    .nothing-tips {
      font-size: 14px;
      color: #dbdbdb;
      margin-top: 10px;
    }
  }
}

.quick-reply.searching {
  .search-manage {
    padding-bottom: 20px;
    position: relative;

    .search-input {
      margin-right: 90px;

      .icon-close-fill {
        color: #ccc;
        display: inline-block;
      }

      .kf-ai-form-item {
        margin-bottom: 0;
      }
    }

    .search-edit {
      right: 0;
      top: 10px;
      color: #265cf0;
      width: 90px;
      font-size: 14px;
      position: absolute;
      text-align: center;
      line-height: 20px;
      vertical-align: middle;
      font-size: 0;
      cursor: pointer;
      display: inline-block;

      .iconfont {
        font-size: 20px;
        margin-right: 6px;
      }

      span {
        top: -3px;
        position: relative;
        font-size: 14px;
      }

      .icon-32 {
        display: none;
      }

      .done {
        display: none;
      }
    }

    .finish {
      display: inline-block;

      .icon-32 {
        display: inline-block;
      }

      .done {
        display: inline-block;
      }

      .icon-36 {
        display: none;
      }

      .edit {
        display: none;
      }
    }
  }

  .grouping-content {
    .content-item {
      .options .icon-35 {
        display: none !important;
      }
    }

    // .add {
    //     display: none;
    // }
  }
}

.quick-reply.nothing {
  .grouping {
    display: none;
  }

  .nothing-page {
    top: 50%;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: -70px;
    position: absolute;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    .nothing-tips {
      font-size: 14px;
      color: #3f3f3f;
    }
  }
}

// 左侧图标右侧两行文字
.icon-content__item {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 20px;
  box-sizing: border-box;
  .item-icon {
    flex-shrink: 0;
    margin-right: 10px;
    // 下次更新可废弃
    &.-new {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border: 2px solid #fa9128;
    }
    &.-new02 {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      background: #ed4343;
      .iconfont {
        color: #fff;
      }
    }
    .iconfont {
      color: #fa9128;
      font-size: 36px;
      line-height: 1;
      &.-new {
        font-size: 24px;
      }
      &.-new1 {
        font-size: 20px;
      }
    }
  }
  .item-content {
    flex: 1;
    padding: 6px 0px;
    .txt {
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      word-break: break-all;
      word-wrap: break-word;
      white-space: nowrap;
    }
    .desc {
      font-size: 14px;
      line-height: 19px;
      color: #999999;
      margin-top: 6px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: nowrap;
    }
  }
}

.copy-down:hover {
  color: #2252d6 !important;
  .suspend {
    display: block;
  }
}

// 操作按钮模块(比如需复制的文字和复制按钮）
.options-txtWrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  .options-txt {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    @include ellipsis-lines(1);
  }
  .options-btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 2px;
    .iconfont {
      opacity: 0;
      position: relative;
      font-size: 20px;
      color: #999;
      line-height: 1;
    }
    &:hover {
      .iconfont {
        color: #265cf0;
      }
      .m-info {
        display: block;
      }
    }
  }
  .m-info {
    display: none;
  }
  &:hover {
    .options-btn .iconfont {
      opacity: 1;
    }
  }
}

.para {
  position: relative;
  &:not(:last-child):before {
    content: ' ';
    border-top: 1px solid #e5e5e6;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
  }
  .title {
    position: relative;
    color: #333;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .windowing-icon {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    .iconfont {
      color: #999999;
      font-size: 20px;
      line-height: 1;
      font-weight: normal;
    }
    &:hover {
      .iconfont {
        color: #666666;
      }
    }
  }
  .item-group {
    width: 100%;
    font-size: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    box-sizing: border-box;

    // -leftLabel 使里面的项变成左右布局
    &.-leftLabel {
      .item {
        display: inline-flex;
        min-height: unset;
        .label {
          width: 56px;
          flex-shrink: 0;
          margin: 0px 20px;
        }
        .value,
        .kf-input-wrapper,
        .title-right {
          margin: 0;
        }
        .suspend {
          top: 30px;
        }
      }
    }

    .item {
      width: 50%;
      min-height: 40px;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      &.margin-bottom0 {
        margin-bottom: 0px;
      }
      // 常态下占据66.66百分比
      &.-normal-col66 {
        width: 66.66%;
      }
      // 报错样式
      &.-error {
        // .item-error-tips {
        //     position: absolute;
        // }
        .kf-ai-input {
          border-color: #ef5c62;
          padding-left: 10px;
        }
        .kf-ai-cascader .kf-ai-cascader-rel .kf-ai-input-wrapper .kf-ai-input {
          border: 1px solid #ef5c62;
          padding-left: 10px;
        }
        .kf-ai-cascader .kf-ai-cascader-rel .kf-ai-icon-arrow {
          display: block;
        }
      }
      .item-error-tips {
        font-size: 12px;
        color: #ed4343;
        line-height: 16px;
        padding-left: 20px;
        padding-top: 1px;
      }

      .label {
        color: #666;
        font-size: 14px;
        line-height: 20px;
        margin: 0px 10px 0px 20px;
        @include text-overflow();
      }

      .value,
      .kf-input-wrapper {
        color: #000;
        font-size: 14px;
        margin: 10px 10px 10px 20px;
        // @include text-overflow();
        @include ellipsis-lines(1);
        word-break: break-all;
        min-height: 20px;

        .robot,
        .message {
          display: inline-block;
          color: #265bed;

          .iconfont {
            margin-right: 8px;
          }
        }
        .robot {
          margin-right: 40px;
        }

        &:hover {
          .suspend {
            display: block;
          }
        }

        // 群成员项
        &.group-members-value {
          position: relative;
          padding-right: 30px;
          .more {
            position: absolute;
            right: 0px;
            top: 0px;
            color: #265bed;
            cursor: pointer;
          }
        }
      }
      .value {
        // 扩展样式
        // 撑满宽度 -fullWidth
        &.-fullWidth {
          width: 100%;
        }
        // 不超出隐藏 -cleanOverflow
        &.-cleanOverflow {
          overflow: unset;
        }
      }
      .value.voice-value {
        margin-right: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        .voice-area {
          display: flex;
          width: 100%;
          background: #f7f7fa;
        }
        .voice-audio-btn {
          height: 40px;
          border-radius: 0px;
          &::-webkit-media-controls-panel {
            background: #f7f7fa;
          }
        }
      }

      .kf-input-wrapper {
        margin: 0;
        margin-left: 20px;
        width: auto;

        .kf-ai-select {
          display: block;
          position: relative !important;

          .kf-ai-select-dropdown {
            width: 100% !important;
            top: 40px;
          }
        }

        .kf-input {
          padding-left: 0;
          border: 1px solid transparent !important;
        }

        .kf-ai-select,
        .kf-ai-select-visible {
          position: relative;
        }
      }

      // item-group中的选择框
      .label-drop {
        overflow: visible;
        color: #000;
        font-size: 14px;
        margin: 0;
        padding-left: 20px;
      }

      // item-group中的textarea输入框
      .textarea-value {
        padding-left: 20px;
      }

      .left-sus {
        .suspend {
          left: 114px;
          width: 240px;
          top: 60px;
          white-space: normal;

          &:before {
            left: 20px;
          }
        }
      }

      .right-sus {
        .suspend {
          right: 0;
          width: 240px;
          top: 60px;
          white-space: normal;

          &:before {
            right: 20px;
          }
        }
      }

      .open-id {
        padding: 10px 10px 10px 20px;
        font-size: 14px;
      }
      // 点击复制
      .title-right {
        // width: 100%;
        font-size: 14px;
        vertical-align: top;
        margin: 10px 10px 10px 20px;
        overflow: hidden;
        max-width: 487px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        word-wrap: normal;
        min-height: 20px;
        cursor: pointer;
        color: #275cf0;
        .copy-over {
          opacity: 0.5;
          filter: alpha(opacity=50);
        }
      }
      &:hover {
        .info {
          display: block;
        }
      }
      // info 小提示信息，鼠标移入显示全部字段
      .info {
        display: none;
        position: absolute;
        text-align: justify;
        background: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
        color: #333333;
        z-index: 99;
        padding: 10px 0 10px 10px;
        cursor: auto;
        user-select: text;
        .txt {
          font-size: 12px;
          background: #ffffff;
          width: 170px;
          max-height: 144px;
          word-break: break-all;
          white-space: pre-wrap;
          text-align: left;
          padding-right: 10px;
          overflow-y: auto;
          overflow-y: overlay;
          overflow-x: hidden;
          box-sizing: content-box;
        }
        &.left {
          top: 26px;
          left: -190px;
          &:before {
            content: ' ';
            width: 0;
            height: 0;
            top: 10px;
            right: -12px;
            border-left: 6px solid #fff;
            border-right: 6px solid transparent;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            position: absolute;
          }
        }
        &.right {
          top: 26px;
          right: -190px;
          &:before {
            content: ' ';
            width: 0;
            height: 0;
            top: 10px;
            left: -12px;
            border-left: 6px solid transparent;
            border-right: 6px solid #fff;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            position: absolute;
          }
        }
        &.bottom {
          top: 60px;
          left: 50%;
          margin-left: -95px;
          &:before {
            content: ' ';
            width: 0;
            height: 0;
            top: -12px;
            left: 50%;
            margin-left: -14px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid transparent;
            border-bottom: 6px solid #fff;
            position: absolute;
          }
        }
        &.top {
          bottom: 38px;
          left: 50%;
          margin-left: -95px;
          &:before {
            content: ' ';
            width: 0;
            height: 0;
            bottom: -12px;
            left: 50%;
            margin-left: -14px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #fff;
            border-bottom: 6px solid transparent;
            position: absolute;
          }
        }
      }

      // 单选按钮组
      .kf-radio-group {
        display: flex;
        .kf-radio-wrapper:not(:last-child) {
          margin-right: 30px;
        }
      }

      .icon-content__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .note-words {
      @include ellipsis-lines($lines: 5);
      overflow: hidden;
      word-break: break-all;
      display: -webkit-box;
      white-space: normal;
    }

    .long {
      width: 100% !important;
      flex-basis: 100% !important;

      .value {
        &:hover {
          .suspend {
            width: 420px;
            // margin-top: 10px;
            white-space: normal;
            display: none;
          }
        }
      }
    }

    .long-line {
      .value {
        &:hover {
          .suspend {
            margin-top: 30px;
          }
        }
      }
    }

    .multi-lines {
      // max-height: 95px;

      .value {
        margin-bottom: 10px;

        .multi-words {
          white-space: pre-wrap;
          @include ellipsis-lines($lines: 10);
          overflow: hidden;
          display: -webkit-box;
        }
      }
    }
  }
  .item.kf-ai-item-required {
    &::before {
      content: '*';
      display: inline-block;
      line-height: 1;
      font-family: SimSun;
      font-size: 12px;
      position: absolute;
      left: 10px;
      top: 6px;
      color: #ed3f14;
    }
  }

  .kf-ai-input {
    // border-color: #fafafb;
    border-color: transparent;
    border-width: 1px;
    background: none;
    padding-left: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      // border-color: #ccc;
      border: 1px solid #265bed;
      padding-left: 10px;
      background: #fff;
    }

    &:focus {
      border: 1px solid #265bed;
      padding-left: 10px;
      background: #fff;
    }
    &.kf-ai-input-textarea {
      // resize: none;
      resize: vertical;
      width: 100%;
      min-height: 100px;
    }
  }
  // 用户信息 中的 select下拉组件，添加ui交互动效
  .kf-ai-select .kf-ai-select-selection {
    border-color: #fafafb;
    border-width: 1px;
    background: none;
    transition: all 0.2s ease-in-out;
    .kf-ai-select-placeholder,
    .kf-ai-select-value {
      padding-left: 0;
      transition: all 0.2s ease-in-out;
    }
    .kf-ai-icon-arrow {
      display: none;
    }
    &:hover,
    &:focus {
      border: 1px solid #265bed;
      .kf-ai-select-placeholder,
      .kf-ai-select-value {
        padding-left: 10px;
        background: #fff;
      }
      .kf-ai-icon-arrow {
        display: block;
      }
    }
  }
  // 用户信息 中的 Cascader 级联选择 组件，添加ui交互动效
  .kf-ai-cascader .kf-ai-cascader-rel {
    .kf-ai-input-wrapper {
      background: none;
      .kf-ai-input {
        border-color: #fafafb;
        border-width: 1px;
        padding-left: 0px;
      }
    }
    .kf-ai-icon-arrow {
      display: none;
    }
    &:hover,
    &:focus {
      .kf-ai-input-wrapper {
        background: #fff;
        .kf-ai-input {
          border: 1px solid #265bed;
          padding-left: 10px;
        }
      }
      .kf-ai-icon-arrow {
        display: block;
      }
    }
  }

  &.session-info {
    .item.kf-ai-item-required {
      &::before {
        content: '';
      }
    }
  }

  // 可拖拽元素模块正常状态添加类名 kf-drag--ele
  &.kf-drag--ele {
    // 标题悬浮显示拖拽小手指状
    .title {
      cursor: grab;
    }
  }
}
